<!-- <app-header-one [sticky]="true" *ngIf="url != '/pages/comingsoon'"></app-header-one> -->
<app-breadcrumb
   [title]="'FORGOT_PW' | translate"
   [breadcrumb]="'FORGOT_PW' | translate"
></app-breadcrumb>
<!-- section start -->
<section class="pwd-page">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 offset-lg-3">
            <h2>
               {{ "FORGOT_PW_FORGOT" | translate }}
            </h2>

            <form class="theme-form" [formGroup]="form" (ngSubmit)="submit()">
               <div class="form-row">
                  <div class="col-md-12">
                     <input
                        type="email"
                        class="form-control"
                        [placeholder]="'FORGOT_PW_INPUT' | translate"
                        formControlName="email"
                     />
                  </div>

                  <div class="col-md-12 mb-3">
                     <small class="text-danger" *ngIf="isError('email', 'required', false)">
                        {{ "REQUIRED" | translate }}
                     </small>
                     <small class="text-danger" *ngIf="isError('email', 'email', false)">
                        {{ "INVALID_PATTERN" | translate }}
                     </small>
                  </div>

                  <button class="btn btn-solid" type="submit">
                     {{ "FORGOT_PW_BTN" | translate }}
                  </button>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>
<!--Section ends-->
