<app-breadcrumb
   [title]="'FORGOT_PW_COMPLETING_BC_TITLE' | translate"
   [breadcrumb]="'FORGOT_PW_COMPLETING_BC_BC' | translate"
></app-breadcrumb>
<!-- section start -->
<section class="pwd-page">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 offset-lg-3">
            <h2>
               {{ "FORGOT_PW_COMPLETING_TITLE" | translate }}
            </h2>

            <form class="theme-form" [formGroup]="form" (ngSubmit)="submit()">
               <div class="form-row">
                  <div class="col-md-12">
                     <input
                        type="password"
                        class="form-control"
                        [placeholder]="'PASSWORD' | translate"
                        formControlName="password"
                     />
                  </div>

                  <div class="col-md-12 mb-3">
                     <small class="text-danger" *ngIf="isError('password', 'required', false)">
                        {{ "REQUIRED" | translate }}
                     </small>
                     <small class="text-danger" *ngIf="isError('password', 'minlength', false)">
                        {{ "INVALID_MINLENGTH" | translate }}
                     </small>
                  </div>

                  <div class="col-md-12">
                     <input
                        type="password"
                        class="form-control"
                        [placeholder]="'CONFIRM_PASSWORD' | translate"
                        formControlName="confirmPassword"
                     />
                  </div>

                  <div class="col-md-12 mb-3">
                     <small
                        class="text-danger"
                        *ngIf="isError('confirmPassword', 'required', false)"
                     >
                        {{ "REQUIRED" | translate }}
                     </small>
                     <small
                        class="text-danger"
                        *ngIf="isError('confirmPassword', 'minlength', false)"
                     >
                        {{ "INVALID_MINLENGTH" | translate }}
                     </small>
                     <small class="text-danger" *ngIf="isError('confirmPassword', 'unmatch', true)">
                        {{ "PW_NOT_MATCH" | translate }}
                     </small>
                  </div>

                  <button class="btn btn-solid" type="submit">
                     {{ "FORGOT_PW_COMPLETE_BTN" | translate }}
                  </button>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>
<!--Section ends-->
