input.form-control {
    margin-bottom: 0.5rem !important;
}

select.form-control {
    height: 54px;
}

@media only screen and (max-width: 576px) {
    select.form-control {
        height: 44px !important;
    }
}
.c53text{
    text-align: center;
    padding-top: 10px;
}